/* MAIN BLOCK */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

body {
    background-color: #242424;
    height: 100vh;
}

.navigation {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}


.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    color: #242424;
    background-color: #e4e2dd;
    border: 0;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

h2.subtitles {
    color: black;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
}

h2.subtitles span {
    font-weight: 400;
    color: #e4e2dd;
    text-shadow: 0px 0px 8px gray;
}

.top-side,
.projects .navigation,
.about-me {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

/* HEADER */
header {
    padding: 10px 4%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #242424;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 900;
}

header>.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #e4e2dd;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header .menu a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header nav.menu ul li {
    font-size: 18px;
    display: inline-block;
    padding: 0 40px;
    text-shadow: 2px 2px 10px black;
    margin-left: 1rem;
}

/* TOP SIDE */
section.top-side {
    padding: 100px 4% 0;
    margin-left: 240px;
    margin-bottom: 25px;
}

section.top-side .flex {
    align-items: center;
    justify-content: center;
}

section.top-side .top-side-txt h1 {
    color: #fff;
    font-size: 48px;
    line-height: 40px;
    text-shadow: 3px 3px 10px black;
}

section.top-side .top-side-txt p {
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
    text-shadow: 2px 2px 0 black;
}

section.top-side .top-side-txt p span {
    font-size: 20px;
    color: #ffa600;
}

section.top-side .top-side-txt p span:last-child {
    font-size: 18px;
    color: #6497d1;
}

.img-top {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-top .img-back,
.img-top .img-front {
    animation: floating-effect 2s ease-in-out infinite alternate;
}

.img-top .img-back {
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
    filter: drop-shadow(10px 10px 10px black);
    z-index: 1;
    width: 750px;
}

.img-top .img-front {
    padding-top: 30px;
    padding-bottom: 25px;
    position: absolute;
    z-index: 2;
    width: 210px;
}

/* KEY FRAMES */
@keyframes floating-effect {
    0% {
        top: -10px;
    }

    100% {
        top: 20px;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.7;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

/* PROJECTS BOX */
.projects .subtitles {
    padding-bottom: 20px;
}

section.projects {
    padding: 30px 4% 40px;
    box-shadow: 0 0 40px 10px #5a59585d;
}

section.projects .flex {
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects .project-box {
    display: block;
    text-decoration: none;
    color: #e4e2dd;
    padding: 40px;
    border-radius: 20px;
    transition: .2s;
    background-color: transparent;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.projects .project-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
    background-color: #e4e2dd;
    -webkit-text-fill-color: #242424;
}

.projects .project-box h3 {
    font-size: 28px;
    line-height: 25px;
    margin: 15px 0px;
}

.projects .project-box h3 span{
    color: greenyellow;
}

.project-box img.project-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-bottom: 15px;
}

/* ABOUT ME */

.about-me .img-about-me img {
    width: 240px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

section.about-me {
    padding: 90px 4%;
}

section.about-me .flex {
    align-items: center;
    gap: 60px;
}

.about-me .txt-about-me {
    color: #e4e2dd;

}

.about-me .txt-about-me h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 35px;
}

.about-me .txt-about-me h2 span {
    display: block;
    text-shadow: 0px 0px 8px gray
}

.about-me .txt-about-me p {
    margin: 10px 0;
    font-size: 18px;
}

.btn-social button {
    margin: 10px 10px 0px -2px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    transition: .2s;
}

/* LINEFOOTER */

footer {
    padding: 30px 4%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 10px 0;
}

.border {
    border-top: 2px solid #e4e2dd;
}

.logo-footer img {
    width: 180px;
}

footer .line-footer p {
    padding: 10px 22px;
    color: #e4e2dd;
    font-size: 16px;
}

/* MENU MOBILE */
.btn-open i{
    color: #e4e2dd;
    font-size: 0px;
}

.menu-mobile {
    background-color: #242424;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.open-menu{
    width: 40%;
}
.menu-mobile.open-menu ~ .ovelay-menu{
    display: block;
}

.menu-mobile .btn-close {
    padding: 20px 5%;
}

.menu-mobile .btn-close i {
    color: #e4e2dd;
    font-size: 20px;
}

.menu-mobile nav ul {
    flex-direction: column;
    padding: 90px 0;
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #e4e2dd;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
    background-color: #e4e2dd;
    -webkit-text-fill-color: #242424;
}

.ovelay-menu{
    background-color: #0000005e;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 910;
    display: none;
}

/* VIEWPORT */

@media screen and (max-width: 1024px) {
    .flex {
        flex-direction: column;
    }

    /* HEAD */
    .menu,
    .btn-contato {
        display: none;
    }

    /* MENU MOBILE */

    .btn-open i{
        font-size: 40px;
        padding-right: 30px;
    }

    /* TOP-SIDE */
    section.top-side {
        margin-left: 0;
        padding: 140px 4% 20px;
        text-align: center;
    }

    .top-side-txt {
        margin: 0;
        padding: 0 10px;
    }

    .img-top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-top .img-back {
        width: 90vw;
    }

    .img-top .img-front {
        width: 25vw;
    }

    section.top-side .top-side-txt h1 {
        font-size: 32px;
        line-height: 30px;
    }

    /* PROJECTS BOX */

    section.projects {
        padding: 30px 8%;
    }
    
    section.projects .flex{
        gap: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    /* ABOUT ME */

    .about-me .btn-social {
        padding: 20px;
        text-align: center;
    }

    /* FOOTER */
    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }

    .line-footer .btn-social {
        display: none;
    }
}

/* VIEWPORT */

@media screen and (max-width: 768px) {
    section.projects {
        padding: 30px 0 20px;
    }
    .projects .project-box h3 {
        font-size: 20px;
        line-height: 20px;
    }
}